<main ng-controller="confCtrl">
    <form class="mr-4 mt-4">
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="pNumber" class="h5">הזמנת עבודה מס'</label>
                <input type="text" class="form-control col-3" id="pNumber" placeholder="" ng-model="pNumber">
            </div>
            <button type="submit" class="btn btn-primary col-md-2">בדוק וצור
                <br> רשימת פריטים להזמנה</button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="pProfileType" class="h5">סוג תריס</label>
                <select id="pProfileType" class="form-control col-11" ng-model="pProfileType">
                    <option>פרופיל "בורג"</option>
                    <option>9000</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <h5>גודל מפתח</h5>
                <div class="row pr-3">
                    <label for="pHeight" class="col-form-label h6 pl-1">גובה(ס"מ)</label>
                    <input type="text" class="form-control col-2" id="pHeight" placeholder="גובה" ng-model="pHeight">
                    <label for="pWidth" class="col-form-label h6 pl-1 pr-4">רוחב(ס"מ)</label>
                    <input type="text" class="form-control col-2" id="pWidth" placeholder="רוחב" ng-model="pWidth">
                </div>
            </div>

        </div>
        <div class="form-row mt-3">
            <!-- <div class="form-group col-md-3">
                <label for="pProfileType" class="h5">סוג תריס</label>
                <select id="pProfileType" class="form-control col-11" ng-model="pProfileType">
                    <option>פרופיל "בורג"</option>
                    <option>9000</option>
                </select>
            </div> -->
            <div class="form-group col-md-2">
                <label for="pNoOfWings" class="h5">מספר כנפיים</label>
                <input type="number" class="form-control col-10" id="pNoOfWings" value="1" min="1" max="8" ng-model="pNoOfWings">
            </div>
            <div class="form-group col-md-3">
                <label for="pSolarPanels" class="h5">פאנלים סולאריים בכנף</label>
                <input type="number" class="form-control col-10" id="pSolarPanels" value="1" min="1" max="8" ng-model="pSolarPanels">
            </div>
            <div class="form-group col-md-3">
                <label for="battery" class="h5">קיבולת סוללה</label>
                <select id="battery" class="form-control " ng-model="battery">
                    <option>AH 10</option>
                    <option>AH 13</option>
                    <option>AH 16</option>
                    <option>AH 20</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="profileType" class="h5">שדות בכנף</label>
                <input type="number" class="form-control col-6" id="windowHeight" min="1" max="5" ng-model="numberOfFields" ng-change="changeFieldArray()">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-2" ng-repeat="x in fieldArray">
                <div class="row field">
                    <label for="profileType{{$index}}" class="col-form-label col-4 h5 pr-3 pl-0">כיוון {{$index+1}}</label>
                    <select id="profileType{{$index}}" class="form-control col-6 pl-5" ng-model="leverType[$index]">
                        <option>ימין</option>
                        <option>שמאל</option>
                        <option>דו צדדי</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="form-group col-md-2">
                <label for="profileType" class="h5">שפרוץ רוחב</label>
                <select id="profileType" class="form-control" ng-model="pColor">
                    <option>אין</option>
                    <option>שלם</option>
                    <option>חצוי</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="workOrderNum" class="h5">גובה בס"מ</label>
                <input type="text" class="form-control col-8" id="workOrderNum" placeholder="" ng-model="pNumber">
            </div>
            <div class="form-group col-md-2">
                <label for="profileType" class="h5">צבע</label>
                <select id="profileType" class="form-control col-11" ng-model="pColor">
                    <option>לבן</option>
                    <option>אפור</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="profileType" class="h5">כולל הזזה?</label>
                <select id="profileType" class="form-control" ng-model="pIsSliding">
                    <option>כן</option>
                    <option>לא</option>
                </select>
            </div>


        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="row">
                    <div class="col-12">
                        <label for="remarks" class="h5">הערות</label>
                        <textarea class="form-control  col-10" rows="2" id="remarks" placeholder="הערות מיוחדות" ng-model="pRemarks"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </form>
</main>