<main>
    <form class="mt-4 col-lg-11 mx-auto formbg">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">כתובת דוא"ל</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder='כתובת דוא"ל' ng-model="oEmail">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">סיסמה</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="סיסמה" ng-model="oPass">
            </div>
        </div>
        <div class=""> <!--d-none-->
            <div class="form-row">
                <div class="form-group col-md-6">

                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword42">חזור על הסיסמה</label>
                    <input type="password" class="form-control" id="inputPassword42" placeholder="סיסמה" ng-model="oPass2"> 
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputFirstName">שם פרטי</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder='שם'>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputLastName">שם משפחה</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder='משפחה'>
                </div>
                <div class="form-group col-md-1">

                </div>

                <div class="form-group col-md-3">
                    <label for="inputPhoneNum">טלפון נייד</label>
                    <input type="text" class="form-control" id="inputPhoneNum" placeholder=''>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputPhoneProvider">קידומת</label>
                    <input type="text" class="form-control" id="inputPhoneProvider" placeholder=''>
                </div>

            </div>
            <div class="form-group">
                <label for="inputAddress">כתובת</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="רחוב ומספר">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">עיר</label>
                    <select id="inputCity" class="form-control">
                        <option selected>בחר ...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-1">

                </div>
                <div class="form-group col-md-5">
                    <label for="inputZip">מיקוד</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">הרשמה</button>
    </form>
</main>