<main>
    <div class="mx-4 mt-3 mainTable">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th>שם הספק</th>
                    <th>כתובת</th>
                    <th>טלפון</th>
                    <th>מייל</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="x in userList" ng-click="showMap(x)">
                    <td>{{x.cFirstName+" "+x.cLastName}}</td>
                    <td>{{x.cAdress+" "+x.cCity}}</td>
                    <td>{{x.cMobile}}</td>
                    <td>{{x.cMail}}</td>

                </tr>

            </tbody>
        </table>

    </div>
    <div class="row ">
        <div class="col-lg-2"></div>
        <div  class="col-lg-8">
            <iframe width="100%" height="400vh" frameborder="0" style="border:0" src={{address}} allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-2"></div>
    </div>


</main>