<main>
    <div class="mx-4 mt-3 mainTable">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th>שם הספק</th>
                    <th>טלפון</th>
                    <th>פקס</th>
                    <th>מיל</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="x in orderList" ng-click="getOrderDetails(x)">
                    <td>{{x.oNumber.toUpperCase()}}</td>
                    <td>{{x.oDateTime}}</td>
                    <td>{{x.oRemarks}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDj2_x8-Phi_rdxi2_UBOgDlOydfPEf2BU
    &q=tel aviv" allowfullscreen>
    </iframe> -->
        <iframe width="600" height="450" frameborder="0" style="border:0" src={{address}} allowfullscreen>
    </iframe>
</main>