<main>
    <div class="mx-4 mt-3 mainTable">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th>שם הספק</th>
                    <th>טלפון</th>
                    <th>מייל</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="x in userList" ng-click="getOrderDetails(x)">
                        <td>{{x.cFirstName+" "+x.cLastName}}</td>
                        <td>{{x.cAdress+" "+x.cCity}}</td>
                        <td>{{x.cFirstName+" "+x.cLastName}}</td>
                    
                </tr>

            </tbody>
        </table>
        <iframe width="600" height="450" frameborder="0" style="border:0" src={{address}} allowfullscreen>
        </iframe>
    </div>
   

</main>