body{
    text-align: right;
}
.bg-batkal{
    background-color: rgb(255, 128, 0)
}
.bg-batkal-const{
    background-color: rgb(0, 195, 255)
}
nav>a{
    color: black;
    font-weight: bolder
    
}
.field{
    /* border: 1px solid black ; */
}
.mainTable{
    display: block;
  max-height: 35vh;
  overflow-y: auto;
}